node_modules/
uploaded/
.vs/
public/images/
images/
python/compatibility/
python/parameters/
*.pyc
python/utils/
public/bootstrap/
python/test_dr.py
python/.idea/workspace.xml
python/.idea/python.iml
python/.idea/misc.xml
python/.idea/modules.xml
python/.idea/vcs.xml
