extends layout

block content
	.main-container
		.upload-row
			.file-col
				h1.display-4.m-b-2 File Upload

				form#fileupload(name="fileupload", method="POST", action="/fileupload", enctype="multipart/form-data")
					input#userInputFile(type="file", name="filetoupload")
					button(type="submit") Upload

		.btn-container
			.btn-col
				button(onClick="grayscale();", style=btnshow) To grayscale

		iframe#uploadTrg(name="uploadTrg")
		form#myForm(name="uploadTrg" method="POST" action="/fileupload2" enctype="multipart/form-data"  target="uploadTrg")
			input#fileid(type="file" name="file")
			input#submitBtn(type="submit" value="submit")
		
		form#imageForum(action="javascript:submitForm();" method="post" enctype = "multipart/form-data")
			label(for="fileUpload")
			input#fileUpload(type="file" name="file")
			input#submitBtn2(type="submit" value="submit")

		#ajaxResultTest

		.image-container
			.img-column
				img.image(src=imgname, id="img-upload", width="100%;")
			.img-column
				img.image(src=procname, id="img-proc", width="100%;")


	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascripts/screen.js")

	script.
		$("iframe").on('load', function(){
			// ok , now you know that the file is uploaded , you can do what you want , for example tell the user that the file is uploaded 
			alert("The file is uploaded");
			// or you can has your own technique to display the uploaded file name + id ? 
			$.post('http://localhost:3000/fileupload2',
				null,
				function(attachment){
					// add the last uploaded file , so the user can see the uploaded files
					$("#ajaxResultTest").html('test');
				},
				'json'
			);
		});
		function submitForm() {
			var formData = new FormData($('#imageForum')[0]);
			$.ajax({
				url: '/fileupload2',
				type: 'POST',
				data: formData,
				async: false,
				success: function (data) {
					alert('posted')
				},
				cache: false,
				contentType: false,
				processData: false
			});

			return false;
		}