
extend layout
block content

	.main-content
		p
			| ARSN is implementing a mass screening for 
			| diabetic retinopathy (DR), with the goal of 
			| making eye exam of about 75% of identified 
			| diabetics. 

		p	| The vision of the consortium SCREEN-DR is to 
			| create a distributed and automatic screening 
			| platform for DR, based on advanced PACS* 
			| management, Machine Learning and Image Analysis, 
			| enabling immediate response from health carers, 
			| allowing accurate follow-up strategies, and 
			| fostering technological innovation. As main 
			| objectives we have the automatic image quality 
			| assessment, the automatic detection and grading 
			| of diabetic retinopathy including the mild 
			| non-proliferative, moderate/severe non-proliferative 
			| and proliferative grades.


	.sidebar
		.widget
			h1 Widget
			p
				| Sed auctor neque eu tellus rhoncus ut
				| eleifend nibh porttitor. Ut in nulla enim.
			p
				| Vivamus hendrerit arcu sed erat molestie
				| vehicula.