
doctype
html
	head
		title #{title} - Screen DR
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/webstyle.css')
		link(rel='stylesheet', href='/stylesheets/pilot.css')

		block scripts
			script(src="javascripts/jquery-3.3.1.min.js")
			script(src="javascripts/popper.min.js")
			script(src="javascripts/bootstrap.min.js")

	body
		header
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				
				.menu-left
					a.navbar-brand(href='/')
						img.sdr-logo(src='/images/screendr-dark_logo.png')
				
				.menu-right

					.logo-right
						a.navbar-brand#brand-link(href='http://bioimglab.inesctec.pt/' target='_blank')
							h2.lab-logo BIOMEDICAL IMAGING LAB

					.btn-right
					
						button.navbar-toggler(type="button" data-toggle="collapse" 
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
						aria-expanded="false" aria-label="Toggle navigation") 
							span.navbar-toggler-icon

						.collapse.navbar-collapse#navbarSupportedContent
							ul.navbar-nav.mr-auto
								li.nav-item
									a.nav-link(href='/pilot') Pilot
								li.nav-item
									a.nav-link(href='/') Publications
								li.nav-item
									a.nav-link(href='/') Demos
								li.nav-item
									a.nav-link(href='http://demo.dicoogle.com/screen-dr' target='_blank') Dicoogle								

									
		.container-fluid.text-center
			block content
	footer

		.logos-container(style='horizontal-align: central;')
			a(href='https://www.cmu.edu/' target='_blank')
				img.bottom-logo(src='/images/cmu_logo.png' style='padding-top:0px; padding-bottom:0px;')
			a(href='https://www.ua.pt/' target='_blank')
				img.bottom-logo(src='/images/ua_logo.png' )
			a(href='http://wiki.ieeta.pt/' target='_blank')
				img.bottom-logo(src='/images/ieeta_logo.png' )
			a(href='https://www.inesctec.pt/' target='_blank')
				img.bottom-logo(src='/images/inesctec_logo.png')		
			a(href='https://www.fe.up.pt/' target='_blank')
				img.bottom-logo(src='/images/feup_logo.png' )		
			a(href='http://portal-chsj.min-saude.pt/' target='_blank')
				img.bottom-logo(src='/images/chsj_logo.png' style='padding-top:0px; padding-bottom:0px;' )
			a(href='http://www.arsnorte.min-saude.pt/' target='_blank')
				img.bottom-logo(src='/images/arsnorte_logo.svg' height='90px')
		
		