
doctype
html
	head
		title #{title} - Screen DR
		link(rel='stylesheet', href='/stylesheets/webstyle.css')
		link(rel='stylesheet', href='/stylesheets/pilot.css')

	body
		header
			h1 Screen DR (Pilot)

		.container
			block content
	footer
		p Running on node with Express, Jade and Stylus