
doctype
html
  head
    title #{title} - Screen DR (Pilot)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/screen.css')
  body
    header
      h1 Screen DR (Pilot)
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus