doctype

html
	head
		title #{title} - Screen DR

		block stylesheets
			link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
			link(rel='stylesheet', href='/stylesheets/toogle.css')
			link(rel='stylesheet', href='/stylesheets/webstyle.css')
			slink(rel='shortcut icon', href='/images/screenDR-light_mini_logo.png', type='image/x-icon') 
			
		block scripts
			script(src="/javascripts/jquery-3.3.1.min.js")
			script(src="/javascripts/popper.min.js")
			script(src="/javascripts/bootstrap.min.js")			

	body
		header
		
			nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
				
				.menu-left
					a.navbar-brand(href='/')
						img.sdr-logo(src='/images/screenDR-light_mini_logo.png')
				
				.menu-right
											
					button.navbar-toggler(type="button" data-toggle="collapse" 
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
					aria-expanded="false" aria-label="Toggle navigation") 
						span.navbar-toggler-icon


					.collapse.navbar-collapse#navbarSupportedContent
						ul.navbar-nav.mr-auto
							li.nav-item
								a.nav-link(href='/') Home
							li.nav-item
								a.nav-link(href='/demo') Demo
							li.nav-item
								a.nav-link(href='/pilot') Pilot							
							li.nav-item
								a.nav-link(href='http://demo.dicoogle.com/screen-dr' target='_blank') Dicoogle								
						
						ul.navbar-nav
							li.nav-item
								a.nav-link(href='http://bioimglab.inesctec.pt/' target='_blank') BIOMEDICAL IMAGING LAB
									
		.text-center
			block content

	footer
	
			.logos-container(style='horizontal-align: central; padding-bottom:10px;')
				a(href='https://www.cmu.edu/' target='_blank')
					img.partner-logo(src='/images/cmu-pt_logo.jpeg' style='padding-top:0px; padding-bottom:0px;')
				a(href='https://www.ua.pt/' target='_blank')
					img.partner-logo(src='/images/ua_logo.png' )
				a(href='http://wiki.ieeta.pt/' target='_blank')
					img.partner-logo(src='/images/ieeta_logo.png' )
				a(href='https://www.inesctec.pt/en/centres/c-ber/' target='_blank')
					img.partner-logo(src='/images/inesctec_logo.png')		
				a(href='https://www.fe.up.pt/' target='_blank')
					img.partner-logo(src='/images/feup_logo.png' )		
				a(href='http://portal-chsj.min-saude.pt/' target='_blank')
					img.partner-logo(src='/images/chsj_logo.png' style='padding-top:0px; padding-bottom:0px;' )
				a(href='http://www.arsnorte.min-saude.pt/' target='_blank')
					img.partner-logo(src='/images/arsnorte_logo.svg' height='80px')
				a(href='https://www.bmd-software.com/contacts/' target='_blank')
					img.partner-logo(src='/images/bmd-logo.png' )		
				a(href='http://www.firstmedicalsolutions.com/' target='_blank')
					img.partner-logo(src='/images/firstMedicalsolutions_logo.png' )		
		
			.logos-container(style='horizontal-align: central; padding-bottom:15px;')
				img.funders-logo(src='/images/barra_assinaturas_short.png')