extends layout

block content
	.main-container

		.menu-container
			.btn-group
				button(onClick="quality();", style=btnshow) Quality
				button(onClick="dr_detection();", style=btnshow) Diabetic Retinopathy

		.image-container
			.img-column
				img.img-disp(id="img-orig", src="")
			.img-column
				img.img-disp(id="img-proc", src="")

		.eval-container
			input(type="text", style="visibility:hidden;")
			
		.gallery-container
			.gallery#gallery

	
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascripts/screen.js")
	script.
		$(document).ready(function(){
			loadGallery();
		});