extends layout

block content
	.main-container

		.menu-container
			.btn-group
				button(onClick="grayscale();", style=btnshow) To grayscale
				button(onClick="grayscale();", style=btnshow) Quality
  
		.image-container
			.img-column
				img.img-disp(id="img-upload", src="https://images.theconversation.com/files/74687/original/image-20150312-13502-1pwa8bm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip")
			.img-column
				img.img-disp(id="img-proc", src="https://images.theconversation.com/files/74687/original/image-20150312-13502-1pwa8bm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip")

		.gallery-container
			.gallery#gallery

	
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascripts/screen.js")
