extends layout

append stylesheets
	link(rel='stylesheet', href='/stylesheets/appstyle.css')
	link(rel='stylesheet', href='/stylesheets/pilot.css')
	

block content
	.container-fluid#container-diag
		.row.justify-content-between#app-row
			
			.col#col-diag-left

				.breadcrumb.navbar-success.bg-green
					.h6.breadcrumb-item Images

				ul.nav.nav-tabs.row.justify-content-center
					li.nav-item.double-list.h6
						a.nav-link.show.active#upload-tab(data-toggle="tab" href="#upload-pane" role="tab" aria-controls="upload-pane" aria-selected="true") Upload
					li.nav-item.double-list.h6
						a.nav-link#gallery-tab(data-toggle="tab" href="#gallery-pane" role="tab" aria-controls="gallery-pane" aria-selected="false") Gallery
				
				
				.tab-content.row.justify-content-center
				
					.tab-pane.fade.show.active#upload-pane(role="tabpanel" aria-labelledby="upload-tab")
						#menu-upload											
							form.input-group.mb-3#fileupload(name="uploadTrg" method="POST" action="javascript:submitImgForm();" enctype="multipart/form-data" target="uploadTrg")
								.input-group-prepend
									button.input-group-text#btn-upload-img(type="submit") Upload
								.custom-file
									input.custom-file-input#input-up-img(type="file", name="filetoupload", accept="image/*", multiple)
									.custom-file-label.form-control-file(for="input-up-img") Choose file
					
						table.list-group#selected-files				

					.tab-pane.fade#gallery-pane(role="tabpanel" aria-labelledby="gallery-tab")
						img(src="https://pbs.twimg.com/profile_images/1196566139/CRV_-_Urso_comptd_400x400.jpg")



			.col#col-diag-center
				
				.loader
				
				.breadcrumb.navbar-success(style='background:black; color:black')
					.h6.breadcrumb-item Image

				.row.justify-content-center
					.image-container.col-auto
						canvas.img-disp#main-canvas

									

			.col#col-diag-right

				.breadcrumb.navbar-success.bg-green
					.h6.breadcrumb-item Computed Assessment

				.row.justify-content-left
					.results-container.col
								
						.menu-eval#menu-qual
							button.btn.btn-light#btn-qual(onClick="quality();") Quality
			
							.eval-container
								.res-field#res-field-qual
									label.result-txt#lbl-res1 Assessment: 
									label.btn#lbl-res2(disabled)

						.menu-eval#menu-dr
							button.btn.btn-light#btn-dr(onClick="dr_detection();") Diabetic Retinopathy
			
							.eval-container
								.res-field#res-field-dr
									label.result-txt#lbl-res3 Assessment:
									label.btn#lbl-res4(disabled)


						.menu-eval#menu-toogle
							.eval-container
								.res-field#res-field-map
									.onoffswitch2#btn-toogle
										input.onoffswitch2-checkbox(type="checkbox" onClick="toogleBtnClick();" name="onoffswitch" id="myonoffswitch" checked) 
										label.onoffswitch2-label(for="myonoffswitch")
											span.onoffswitch2-inner#onoffswitch2-inner
											span.onoffswitch2-switch
									label.result-txt#lbl-res5 Quality Map


	script(src="/javascripts/screen_pilot.js")
	script.		
		$(window).on("load", function(){
			loadScreenDrApp();
		});
		window.onresize = function (event) {
			refreshScreenSize();
		}
		
		$("#imgInp").change(function() {
			readURL(this);
		});