extends layout

block content
	.main-container

		.menu-container
			.btn-group
				button(onClick="grayscale();", style=btnshow) To grayscale
				button(onClick="grayscale();", style=btnshow) Quality
  
		.image-container
			.img-column
				img.img-disp(id="img-orig", src="", onload="")
			.img-column
				img.img-disp(id="img-proc", src="")

		.gallery-container
			.gallery#gallery

	
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascripts/screen.js")

	script.
		$(document).ready(function(){
			loadGallery()
		});