/*
 * MENU
 */

.menu-container {
    margin: 10px 0px auto auto;
    white-space: nowrap;
    text-align: center;
}

/*
 * App container
 */

#container-diag{
    background: blacK;
    padding: 5px 0px 10px 0px;
}

#app-row {
    margin-right: 0px;
}

.breadcrumb-item {
    margin: 0px auto;
}

.bg-green {
    background-color: #417d44;
    color: ghostwhite;
}

/*
 *   GALLERY 
 */
/* List of elements in gallery */
#gallery ul {
    list-style-type: none;
}
#gallery li {
    display: inline;
    cursor: pointer;
}

/* Define gallery container */
.gallery-container {
    margin: 10px auto 5px auto;
    width: auto;
    height: 86px;
    max-width: 800px;
}

/* Define gallery properties */
.gallery {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 800px;
    height: 86px;
    padding: 0px;
    border: 5px;
}

/* Define gallery images properties */
.gallery-img {
    padding: 1px;
    height: 64px;
    width: auto;
}

/*
 * Large Images
 */

.image-container {
    margin: 5px 0;
    white-space: nowrap;
    text-align: center;

    
}

.img-column {
    padding: 10px;
    display: inline;
}

.img-disp {
    max-width: 800px;
}


/*
 * Results Area
*/

.eval-container {
    width: auto;
    text-align: center;
    padding: 15px 0px;
}

.res-field {
    display: inline; 
    visibility: hidden;
}

.menu-eval {
    padding: 20px 5px 10px 5px;
    min-height: 140px;
}

.result-txt {
    padding: 10px 0px 5px 0;
    color: whitesmoke;
}

#lbl-res2,
#lbl-res4 {
    cursor: default;
    margin-left: 15px;
}

#btn-qual,
#btn-dr {
    min-width: 174px;
}

#btn-toogle {
    margin: auto;
}


/*
 *  Examples Col
*/
.eg-block {
    text-align: center;
    margin: 20px auto 0px auto;
}

.eg-pagination {
    margin-top: 0px;
}

.img-eg {
    width: 200px;
    padding-top: 2px;
}

.eg-lbl {
    width: 200px;
}

.eg-btn-group {
    display: block;
    margin-top: 0px;
}

.eg-btn-qual {
    min-width: 100px;
}

.eg-btn-dr {
    min-width: 50px;
}

/*
 *   Loader
 */

.loader {
    border: 16px solid #343a40;
    border-radius: 50%;
    border-top: 16px solid #417d44;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    top: 40%;
    left: 42%;
    position: absolute;
    z-index: 1;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

