
/*
 * App container
 */

#container-diag{
    background: blacK;
    padding: 5px 0 10px 0;
}

#app-row {
    margin-right: 0;
}

/*
 * Large Images
 */
.image-container {
    margin: 5px 0;
    white-space: nowrap;
    text-align: center;
}

.img-column {
    padding: 10px;
    display: inline;
}

.img-disp {
    max-width: 800px;
}


/*
 * Results Area
*/

#lbl-res2,
#lbl-res4,
#lbl-res5 {
    cursor: default;
    margin-left: 15px;
}
#btn-qual,
#btn-dr {
    min-width: 174px;
}

#res-field-map {
    display: inline-flex;
}
#btn-toogle {
    margin: auto;
    display: inline-block;
}
#onoffswitch2-inner:after  {
    padding-left: 0;
}
#lbl-res5 {
    margin-bottom: 5px;
}

/*
 * Upload Area
 */

#btn-upload-img {
    cursor: pointer;
}

.custom-file-control.selected:lang(en)::after {
    content: "";
}

#selected-files {
    overflow: hidden;
    /*overflow-y: scroll;*/
    text-align: left;
    width: 370px;
    max-height:500px;
}

.list-group-item-upload {
    padding-bottom: 5px;
    padding-top: 5px;
}

.upload-thumb {
    margin-left: 10px;
    margin-right: 20px;
}

.upload-name {
    width: 220px;
}

.btn-cancel-upload {
    margin-left: 20px;
    padding: 0;
    height: 28px;
    width: 28px;
}