
/*
 * App container
 */

#container-diag{
    background: blacK;
    padding: 5px 0 10px 0;
}

#app-row {
    margin-right: 0;
}

/*
 * Large Images
 */
.image-container {
    margin: 5px 0;
    white-space: nowrap;
    text-align: center;
}

.img-column {
    padding: 10px;
    display: inline;
}

.img-disp {
    max-width: 800px;
}


/*
 * Results Area
*/

.menu-eval {
    padding: 0 5px 20px 5px;
}

.breadcrumb-assm {
    margin-bottom: 0;
}

.table-assm {
    margin: 0;
}

.btn-grou-assm {
    width: 100%;
}

.btn-qual {
    min-width: 33.4%;
    cursor: default !important;
}

.btn-dr {
    min-width: 50%;
    cursor: default !important;
}

.res-field {
    display: inline-flex;
    margin-top: 5px;
}

.btn-toogle {
    margin: auto;
    display: inline-block;
}

.onoffswitch2-inner:after  {
    padding-left: 0;
}
.onoffswitch2-inner:after {
    padding-left: 0;
}

.toogle-lbl {
    padding: 7px 0 7px 5px;
    min-width: 110px;
}


/*
 * Upload Area
 */

a.nav-link{
    color: ghostwhite;
}

ul.nav.nav-tabs.row.justify-content-center {
    width: 103%;
}

.double-list {
    width: 45%;
}

#btn-upload-img {
    cursor: pointer;
}

.custom-file-control.selected:lang(en)::after {
    content: "";
}

.tab-pane {
    margin-top: 5px;
}

#fileupload {
    margin-bottom: 5px !important; 
}

#selected-files {
    overflow: hidden;
    /*overflow-y: scroll;*/
    text-align: left;
    width: 370px;
    max-height: 500px;
}

.list-group-item-upload {
    padding-bottom: 5px;
    padding-top: 5px;
}

.upload-thumb {
    margin-left: 10px;
    margin-right: 20px;
}


/*
 * Images Area
 */

.btn-sm-list {
    margin-left: 20px;
    padding: 0;
    height: 28px;
    width: 28px;
}

.fname-list {
    width: 220px;
}

.list-group-item-gallery {
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}