/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

.sidebar .widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}


footer {
    width: auto;
    margin: 0px auto;
    border-top: 1px dotted #ccc;
    padding-top: 5px;
    font-size: 13px;
    text-align: center;
}


/*
 * Menu layout
*/

.menu-right {
    width: 100%;
}

.logo-right {
    float: right;
}

.btn-right {
    float: left;
}

.sdr-logo {
    max-width: 200px;
}

.lab-logo {
    color: #5a5a5a;
    font-family: 'Fjalla One';
    font-size: 18px;
    font-style: italic;
}

.bottom-logo {
    max-height: 80px;
    padding: 10px
}

.navbar-brand {
    padding-bottom: 0px;
    padding-top: 0px;
}

#navbarSupportedContent {
    margin-top: 30px;
    margin-left: 50px;
}

.page-link {
    line-height: 0.75;
}
