/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

p {
  line-height: 1.5;
  text-align: left;
  padding: 5px 100px;
}


/*
 * Top bar layout
*/

.menu-right {
    width: 100%;
}

.sdr-logo {
    max-height: 60px;
}

.navbar-brand {
    padding-bottom: 0px;
    padding-top: 0px;
}

.nav-link {
    min-width: 70px;
    text-align: center;
}

/*
 * Footer and bottom bar layout
 */

footer {
    background: #fff;
    bottom: 0;
    margin: 0px auto;
    border-top: 1px dotted #ccc;
    padding-top: 5px;
    text-align: center;
    /*position: absolute;*/
    width: 100%;
}

.logos-container {
    padding-bottom: 10px;
}

.partner-logo {
    max-height: 60px;
    padding: 10px
}

.funders-logo {
    height: 30px;
}

/*
 * HOME
 */

.main-content{
    margin: auto;
    padding: 20px 0px 30px 0px;
    max-width: 1200px;
}
